/******************************************
* Anitas Restaurant                       *
* IP2 Website Project for Moringe Prep    *
* Author: Andrew Miracle                  *
* September, 2017                         *
*******************************************/

/*DEFINE GLOBAL VARIABLES*/
body {
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
  margin: 0 0;
}
/*Float Left and right selectors*/
.float-right{
  float: right;
}
.float-right > .container-fluid{
  padding: 0px 40px;
}
.float-left{
  float: left;
}
/*End Float Left and right selectors*/

/*Bootstrap Button Default*/
.btn-default{
    color: #F15A29!important;
    background-color: #fff;
    border-color: #F15A29!important;
    padding: 13px 30px 11px 25px!important;
}

.btn-default:hover{
  background-image:linear-gradient( 135deg, rgba(243,71,75,.9) 0%, rgba(255,152,0,.9) 100%);
  color: #fff!important;
  font-weight: 700;
}
/*End Bootstrap button default*/


/*make feature images inline */
.img-inline{
  display: inline;
  float: left;
  padding:0px 10px 0px 20px;
}
.img-inline-st{
  display: inline;
  float: left;
  padding:0px 3px 0px 5px;
}
.main-block{
  display: inline;
  float: left;
  border:0px black solid;
}

/*control content size within website's scale*/
.content{
  zoom: 0.85;
  -moz-transform: scale(0.90);
  -webkit-transform: scale(0.90);
  -o-transform: scale(0.90)
  padding: 2px 2px 10px 2px;
}
/*End Zoom Controlproperty*/


/*Add a property to create margins within content*/
.clearance{
  margin-top:7em;
}

.spacing{
  margin:20px 10px 40px 10px;
}

/** Define fonts here **/

div, h1, h2, h3, h4, h5 {
  font-family:'Sanchez', serif;
}
h1{
  font-weight: lighter;
}
.txt-white{
  color: #ffffff;
  font-family: 'Sanchez', sans-serif;
  text-align: center;
}
p, span, li{
  font-family: 'PT Sans', sans-serif;
}


/*Navigation MENU*/
.navbar-default {
background-color: transparent!important;
border-color: rgba(255, 152, 0, 0.17)!important;
border-radius: 0px!important;
min-height:70%;
}

/*Landing Section*/
.hero{
  background: url('../assets/backgrounds/landing.jpg');
  background-attachment: fixed;
  object-fit: cover;
  min-height: 70%;
}


/*Hamburger Navbar Style*/
.ham{
  color: #fff;
  font-size: 46px;
  padding: 15px 15px;
}
.ham a{
  text-decoration: none;
  color: #fff;
}
.ham a:hover{
  color: #F15A29;
  text-decoration: none;
}
/*Fullscreen Menu*/













/*Section Two Content Control*/
.section-2{
  padding: 0 0;
  min-height: 200px;
}

.overlay{
width: 100%;
height:100%;
}

.media-active{
  position: inherit;
  bottom: 0;
  right: 0;
  filter:opacity(50%);
  overflow: hidden;
  transition: .5s ease;
}
.txt-white .overlay:hover{
  color:#000000;
    filter: opacity(80%);

}

.pp-breakfast{
  background: url('../assets/foodtop/breakfast.jpg');
  padding: 6% 0 6% 0;
  cursor: pointer;
  object-fit: fill;
}

.pp-lunch {
  background: url('../assets/foodtop/lunch.jpg');
  padding: 6% 0 6% 0;
  cursor: pointer;
  object-fit: fill;
}

.pp-dinner {
  background: url('../assets/foodtop/dinner.jpg');
  padding: 6% 0 6% 0;
  cursor: pointer;
  object-fit: fill;
}
.span-hour{
  background: #F2F2F2;
  padding-top:7.5%;
  padding-bottom: 7.5%;
  margin-top:0px;
  height: 100%;
  color:#2b2b2b;
}
.emphasis{
  background-color: #F15A29;
  color:#fff;
  padding-top:7.5%;
  padding-bottom: 8%;
  height: 100%;
}

/*Feature Section*/
.feature{
  font-size: 1.1em;
  padding:10px 25px 10px 5px;
}
.feature > .paratext{
  margin: 0px 0px 40px 0px;
  padding: 10px 50px;
}
.feature h4{
  font-size: 1.6em;
  font-size: 700;
}
.feature button{
  margin-top:30px;
}
.feature p{
  margin-top:15px;
}
.paratext{
  line-height: 1.5;
  zoom: 0.98;
  -moz-transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -o-transform: scale(0.98);
}
.feature-image{
  border: 1px solid #eee;
  border-radius:  2px;
  padding:10px 0px 10px 10px;
  box-shadow: 7px 7px 40px -11px rgba(0, 0, 0, 0.5);
}
/*End Feature Section*/

/*Section 3 NAVTAB AND TAB CONTENT*/
.section-3{
  background-color: #F15A29;
  background: url('../assets/backgrounds/foodsBg.jpg');
  object-fit: fill;
  min-height: 500px;
  background-attachment: fixed;
}
.section-tab{
  background:#ffffff!important;
}
.section-tab-h{
  background:#eeeeee!important;
  background-size: cover;
}

/*Light Hack for the tab content section*/
.navContent ul{
  padding: 0 0;
  list-style: none;
}
.slide-nav li a{
  color: #f15a29;
  font-size: 25px;
  line-height: 0px;
  cursor: pointer;
}
.slide-nav li a:hover{
  color: #1b1b1b;
  cursor: pointer;
}
.slide-nav-previous{
    top: 45%;
    left: 2%;
    position: absolute;
}
.slide-nav-next{
    top: 45%;
    right: 2%;
    position: absolute;
}

#navTab{
  background:#fff!important;
}
#navTab .nav-pills > li > a {
  border-radius: 0;
  color:#333;
  font-family: "Sanchez", serif;
  font-weight: 700;
  padding: 20px 0px;
  text-align: center;
  border-right: rgba(158, 158, 158, 0.45) 1px solid;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #f15a29!important;
  background-color: #ffffff!important;
}
#navTab .tab-pane{
  margin: 10px 0px;
  padding: 20px 20px 20px 20px;
  color: #f15a29;
}
#navTab h5{
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  padding:10px 10px 17px 10px;
}
#navTab img{

}
/*End Tab content section*/

/*Start Customer stories section*/
.stories{
border: 1px solid #eee;
box-shadow: 1px 1px 39px -10px rgba(15,5,5,0.2);
border-radius: 1px;
padding: 10px 10px 20px 45px;
margin: 20px 20px;
}

.slide-nav-previous-st{
    top: 75%;
    left: 31%;
    position: absolute;
    list-style: none;
}
.slide-nav-next-st{
    top: 75%;
    right: 26%;
    position: absolute;
    list-style: none;
}
/*End customer stories section*/

/*Start Email Subscription Section*/
.subscribe{
  background: url('../assets/backgrounds/subscribe.jpg') #333;
  background-size: cover;
  object-position: center;
  /*background-attachment: fixed;*/
  height: 320px;
  padding: 60px 40px 0px 40px;
}
.subscribe h2{
  color: #fff;
}
.btn-highlight{
  background:#F14A29;
  padding:7px 51px!important;
  color: #fff;
  border-radius: 2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  font-weight: 500;
}
.form-subscribe {
    height: 37px !important;
    padding: 2px 100px 0px 12px !important;
    background: rgba(144, 144, 144, 0.63) !important;
    border: 1px solid rgba(98, 95, 95, 0.28) !important;
    margin: 10px 15px 10px 0px;
    color:#fff!important;
}
.form-inline{
  font-family:'PT Sans', sans-serif;
  font-weight:500;
}
.btn-highlight:hover{
    color: #F15A29;
    background-color: #fff;
    border-color: #F15A29;
}
.form-control::-moz-placeholder {
  color: #fff!important;
  opacity: 0.8;
}
.form-control::-webkit-placeholder {
  color: #fff!important;
  opacity: 0.8;
}
.form-control::placeholder{
  color:#fff!important;
  font-size:15px;
  opacity:0.8;
}



/*Footer Section and Social Icons*/
.footer {
  height: 300px;
  background-color: #F15A29;
  background-image: linear-gradient( 105deg, rgb(239, 75, 52) 20%, rgba(255,98,20,0.9) 100%);
  text-align: center;
  }
.social{
text-align: center;
padding-top: 3%;
color: #ffffff;
}
.img-inline-ft{
  display: inline;
}
.social > h1{
  font-size: 2.5em;
  margin-top:-50px;
  margin-right: -55px;
}
.social > img{
  margin-right: 125px;
  margin-bottom: 10px;
}
